<footer>
    <p>Copyright &#169; UHMC 2020</p>
    <img 
      src="https://maui.hawaii.edu/wp-content/uploads/2021/02/official-seal.jpg" 
      width="610px" 
      height="394px" 
      alt="logo"
    >
  </footer>
</body>
</html>
